body {
	background-color: #ebe6d5;
}
header {
	background-color: #ebe6d5;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px; 
	box-shadow: 0px 0px 10px;
	width: 100%;
	z-index: 2;
	position: fixed;
}
header span {
	font-weight: bold;
}
#main {
	padding-top: 45px;
}
#main .container {
	box-shadow: 0px 0px 10px;
}
.content {
	height: 250px;
}
.center {
	background-color: #e3dcc3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 40px;
	margin: 0px;
	text-align: center;
	border-right: 1px black solid;
	border-left: 1px black solid;
}
.centerStyle {
	background-color: #ebe6d5;
	padding: 10px;
	width: 400px;
	box-shadow: inset 0px 0px 10px;
}

.indicator {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	font-family: sans-serif;
	font-size: 20px;
	margin: 0px;
	
}
